{% extends "base.html" %}

{% block title %}

Welcome {{institute.name}}  Alumni Network


{% endblock %}



{% block content %}

<div id="bodybox">
  
  {% load thumbnail %} 
<div class="grid_3 alpha" >
	{% include 'institution/account_side_bar.html' %}
</div>
  
<div class="grid_9 omega" >
	<div id="mainContent">
     <div class="errorbox">
        {% include 'message_frag.html' %}    
     </div>  
  
 <h2>Change Password</h2>
  
    
    <form action="."  method="POST"  >
        <table>
    {{form.as_table}}
    <tr>
      <td>
<input type="submit" value="Submit" class="form_button" />
      </td>
    </tr>
        </table>
     
    </form>  
      
</div>
</div>
</div>  
  </div>
  
{% endblock %}




