{% extends "base.html" %}

{% block title %}

Forgot Password


{% endblock %}

{% block content %}

 <div style="padding:30px 40px 0 40px;">
  
  <div class="errorbox">
    {% include 'message_frag.html' %}    
  </div>
  <div id="institutelogo">
     <h2>  {{institute.name}} Alumni Network </h2>    
  </div> 
<h2>Forgot Password</h2><br /><br />
  <form action="."  method="POST"  >
    <table>
    {{form}}
    <tr>
      <td> <input type="submit" class="form_button" value="Reset Password"/> </td>          
    </tr>        
    </table>
     
    </form>  
        
</div>

{% endblock %}





