{% extends "base.html" %}

{% block title %}

 {% if editmode %}
    Edit  department 
 {% else %}
      Add new department      
 {% endif %}       
      


{% endblock %}



{% block content %}

 <div class="grid_3 alpha" >
	{% include 'institution/account_side_bar.html' %}
</div>
  
<div class="grid_9 omega" >
	<div id="mainContent">
     <div class="errorbox">
        {% include 'message_frag.html' %}    
     </div> 
  
  
  {% load thumbnail %}
  
  {% if editmode %}  
    <h2> Edit Department </h2>
  {% else %}  
    <h2> Add Department </h2>  
  {% endif %}
  
  <form action="." method="POST">

            Name :<br />
            
            <span class="errors">{{form.name.errors}}</span>
            {{form.name}}
            <br />
            Established (optional):<br />
            <span class="errors">{{form.established.errors}}</span>
            {{form.established}}
            <br />
            <input type="submit" class="button"
                   
                   {% if editmode %}
                    value="Edit Department"                   
                   {% else %}
                   value="Add Department"                  
                   {% endif %}        
                  
                   />
          
    </form> 
  
  
 </div>
  
  </div>
  
{% endblock %}

 




