{% extends "base.html" %}

{% block title %}

Welcome {{institute.name}}  Alumni Network


{% endblock %}


{% block  amedia %}

{% load comparison %}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['piechart']});
      
     
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      
      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        
      // Create our data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Industry');
        data.addColumn('number', 'Total number of people');
        data.addRows(
                    [                     
             {% for istat in industrystats %}
                        {% if_less_or_equal forloop.counter 5 %}
                       ["{{istat.industry__name}}",{{istat.industry_count}}],
                       {% endif_less_or_equal %}
             {% endfor %}
          
        ]);
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chartbox'));
        chart.draw(data, {width: 600, height: 240, is3D: true, title: 'Industry distribution',legendFontSize:12});
      }
    </script>
   
    
    
     
     
{% endblock %}


{% block content %}

<div class="grid_3 alpha" id="sidebar">
	{% include 'mainleftbox.html' %}
</div>
  
<div class="grid_9 omega" >
	<div id="mainContent">
     <div class="errorbox">
        {% include 'message_frag.html' %}    
     </div>

<div class="breadcrum"><a href="{% url displaystathomeurl %}"> Statistics Home </a></div>


<h2> Industry wide statistics </h2>


{% for istat in industrystats %}
  
      <a href="{% url industrymarketstatsurl istat.industry__id %}"> {{istat.industry__name}} ({{istat.industry_count}}) </a>
     
      <br/>
 
{% endfor %}



<div id="chartbox">
      
      
    </div>  
</div>      
</div>

{% endblock %}





