div.mapwrapper{
    
    display : none;
}


   




.cvrShow {
display : block;
width : 100%;
height : 100%;
position : absolute;
top :0px;
left : 0px;
background-color : #aaaaaa;
opacity : 0.5;
margin : 0;
padding : 0;
z-index : 5;

}

#flayer1
{
    
    background-color : white;
    z-index : 25;
}
