{% extends "home.html" %}

{% block title %} AlumClub {% endblock %}

{% block content %}
	
        <div class="grid_8 alpha">
        <h3>About AlumClub</h3>
        	<p class="padcontent_l">
            <em>Alumclub</em> is a solution for connecting and engaging alma matter of any institution in a simple yet convenient way. We created this platform to help you discover, communicate and know your alma matter so as to leverage your alumni capital for suitable benefits. 
</p><p class="padcontent_l">
We constantly endeavor to make our solution meet the following criteria: 
<br />
   1. <em>Simple</em>: We focus on making things simpler. Simplicity is the fundamental and core philosophy of Alumclub<br />
   2. <em>Convenient</em>: We craft our product with features that bring in convenience at every step of alumni interaction right from discovery to communication to connection</p><br />
<h3>The Team</h3> 
<p class="padcontent_l">
Atoms brings in people from varied walks of life united by a single purpose of transformation of the way of life. Diversity, in our case fosters ability enabling us to come up with suitable analogies, from our respective fields to give a new dimension to the problem in hand 

We are a congregation of engineers and business professionals with around 40 man years of experience ranging across start ups to multi nationals.  
 </p>     <br />
<br />
      
        </div>
        
        <div class="grid_4 omega" style="color:#900; font-family: Tahoma, Geneva, sans-serif;background:url({{ MEDIA_URL }}images/frame/separator.jpg) top left no-repeat;">
            <h3>ATOMS </h3>
            <p style="padding:5px 15px 10px 20px;">
            Atoms is an outcome of the confluence of likeminded people who believe in creating a kick ass product company. As a part of our philosophy, we love experimenting with new, fresh and untested ideas, engineering them into products.  
<br /><br />
We love nerds but hate herds. Our products are largely a reflection of our unique culture where we believe in a culture of having autonomy and purpose in what we create. 
<br /><br />
As our name implies, we intend to create the world that we dream of, atom by atom.  
</p>
        </div>
	<div class="clear">&nbsp;</div>
	
	

  
{% endblock %}