
   <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}scripts/autocomplete/jquery.autocomplete.css"> 
  <!--  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}scripts/autocomplete/thickbox.css">  -->
   
     
           <script type="text/javascript" src="{{ MEDIA_URL }}scripts/autocomplete/jquery.bgiframe.min.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}scripts/autocomplete/jquery.ajaxQueue.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}scripts/autocomplete/thickbox-compressed.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}scripts/autocomplete/jquery.autocomplete.js"></script>

