{% extends "home.html" %}

{% block title %} AlumClub {% endblock %}

{% block content %}
	
        <div class="grid_8 alpha">
        <h3>Contact Us</h3>
        	<p class="padcontent_l">
            We look forward to hearing from you. Whether you have a comment, a bug to report,
or a press or business inquiry, please use the following contact information.
We will get back to you as soon as possible.<br /><br />
            Email: <span class="highlight">info[at]alumclub[dot]net</span>
<br /><br />
Mobile: <span class="highlight"> +91-9324267078 </span>
 </p>     <br />
<br />
      
        </div>
        
        <div class="grid_4 omega" style="">
           <!-- {% include 'testimonials.html' %} -->
            <p class="padcontent_r">
            <blockquote>
            Alumni is one of the most underleveraged capital that could be better utilized for Professional and Personal benefits.<br /><br />

Check out our latest blogs at <a href="http://blog.alumclub.net" >http://blog.alumclub.net</a>
            </blockquote>
         </p>   
        </div>
	<div class="clear">&nbsp;</div>
	
	

  
{% endblock %}