{% extends "home.html" %}

{% block title %} AlumClub {% endblock %}

{% block content %}
	 <h3>Stay in touch. Stay networked.</h3>
        <div class="grid_8 alpha">
       
        	<div class="grid_4 alpha">
            	<div class="box1">
                	<h2>Discuss</h2>
                    <p>Raise and Participate in a discussion. Answers queries and comment on posts like a virtual discussion</p>
                </div>
                <div class="box2">
                	<h2>Search</h2>
                    <p>Search alumni based on their profile. We help improve your network by finding alumni with similar intrests.</p>
                </div>
                <div class="box3">
                	<h2>Jobs</h2>
                    <p>Part of the classified section to post and view jobs. A very effective way of roping in your institute's alumni in our next big venture.</p>
                </div>
            </div><!--end features col 1 -->
            <div class="grid_4 alpha">
            	<div class="box4">
                	<h2>Alumni Statistics</h2>
                    <p>Provide statistics about Alumni in terms of Industry, Course and Batch.</p>
                </div>
                <div class="box5">
                	<h2>Events</h2>
                    <p>Announce Events and track attendees. Be informed of important events well in advance.</p>
                	
                </div>
                <div class="box6">
                	<h2>Newsletter</h2>
                    <p>PDF format is no longer required and publishing newsletter is made easy.</p>
                </div>
            </div><!--end features col 2 -->
            <div class="clear">&nbsp;</div>
            <div class="hl_box">Upcoming Feature Release:<br />
 Personalizer, Mailing Groups, Opinions and many more!</div>
        </div>
        
        <div class="grid_4 omega">
            <div class="lab_box">
            <center><h4>AlumClub Labs</h4></center>
            At Alumclub, we strongly believe in innovation. Listening to our customers, Alumclub Labs will constantly showcase the upcoming features that are still being experimented by our engineers.<br /><br />
 We believe in engineering products for you and we will appreciate your help in sharing your opinions after using ALUMCLUB LABS
            </div>
        </div>
	<div class="clear">&nbsp;</div>
	
	

  
{% endblock %}