<p class="padcontent_r">
            <blockquote>
            <span class="open-quote">“</span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.”
            </blockquote>
            <dl>
            <dt>John Smith</dt>
            <dt> </dt>
            <dd>AB Senior Editor</dd>
            </dl>
            <blockquote>
            <span class="open-quote">“</span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.”
            </blockquote>
            <dl>
            <dt>Bob Jackson</dt>
            <dt> </dt>
            <dd>MNT Senior Editor</dd>
            </dl>
</p>